body{
    background-color: rgb(68, 68, 68) !important;
}

header{
    text-align: center;
    color: orangered;
}

#timer {
}

li:hover {
    background-color: lightgray;
}

li:active {
    background-color: orangered;
}

#container{
    background-color: rgb(255, 166, 0);
    width: 960px;
    position: absolute;
    left: 20%;
    margin: 0px;
    padding: 25px;
}

.btn {
position: relative;
left: 0%;
margin: 0;
padding: 0;
    
}